# Server
PORT=server

# PostgreSQL — running locally
PG_HOST=localhost
PG_PORT=port
PG_DB=db_name
PG_USER=usr_name
PG_PASSWORD=pswrd

JWT_SECRET=key

# Email verification 
APP_URL=http://localhost
SMTP_HOST=host
SMTP_PORT=port
SMTP_USER=your@gmail.com
SMTP_PASS=pswrd
SMTP_FROM=Marquee email
